@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
:root{
    --bg-primary: #1D1E22;
    --bg-second-color:#1B191E;
    --bg-second-text:#5c5c5c;
    --color-text: #fff;
    --color-outiline:#FF7373;
    --linear: linear-gradient(-90deg, #FF7373 0%, #FDDB33 100%);
}
body {  
    background: var(--bg-primary);
}
header {
    display: flex;
    justify-content: center;
    padding: 4rem;
}
main {
    width: 550px;
    margin: 0 auto;
}
.form-group label{
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 600;
}
.form-group select, input,button{
    width: 100%;
    padding: 0.8rem;
    margin: 0.6rem 0 2rem 0;
    background: var(--bg-second-color);
    border: 1px solid transparent;
    color: var(--bg-second-text);
    border-radius: 0.5rem;
}
.form-group, label:focus, input:focus, select:focus {
    border-color: var(--color-outiline);
    outline: 0;
}
.form-group button {
    color: var(--color-text);
    cursor: pointer;
    padding: 1rem;
    border: 0;
    background-image: var(--linear);
}
.result h1{
    color: var(--color-text);
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
}

.result ul{
    background: var(--bg-second-color);
    color: var(--color-text);    
    list-style: none;
}
.result li {
    padding: 1rem;
    font-size: 1rem;
}
.result ul li strong {
    color: #FDDB33;
}
